:maruku
  Hi, we're Becky and Ben. We used to have a website here - first with our wedding arrangements on it, then with our wedding photos, and most recently with pictures of, and little stories about, our children.
  
  We're not sure if we actually need it any more though, what with facebook and all. So, while we make our minds up, here's a nice boring web page to say, if you were looking for our site, you can stop now - it isn't here any more.